@model FanCentral2.Models.ViewModels.BrowseProductCategories

<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

<form asp-action="Checkout" method="post">
    <h3>Ship to</h3>
    <div>
        <label>Name:</label><input asp-for="@Model.GuestOrder.Name" />
    </div>
    <h3>Address</h3>
    <div>
        <label>Line 1:</label><input asp-for="@Model.GuestOrder.Line1" />
    </div>
    <div>
        <label>Line 2:</label><input asp-for="@Model.GuestOrder.Line2" />
    </div>
    <div>
        <label>Line 3:</label><input asp-for="@Model.GuestOrder.Line3" />
    </div>
    <div>
        <label>City:</label><input asp-for="@Model.GuestOrder.City" />
    </div>
    <div>
        <label>State:</label><input asp-for="@Model.GuestOrder.State" />
    </div>
    <div>
        <label>Zip:</label><input asp-for="@Model.GuestOrder.Zip" />
    </div>
    <div>
        <label>Country:</label><input asp-for="@Model.GuestOrder.Country" />
    </div>
    <h3>Options</h3>
    <div>
        <label>
            <input asp-for="@Model.GuestOrder.GiftWrap" /> Gift wrap these items
        </label>
    </div>
    <div>
        <input type="submit" value="Complete Order" />
    </div>
</form>