@model PaginatedList<FanCentral2.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <form>
                @foreach (var item in Model) {
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </label>
                </div>
                }
            </form>
            </td>
        </tr>
    </tbody>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex - 1)"
    class="btn btn-default @prevDisabled">
        Previous
</a>
<a asp-action="Index"
    asp-route-pageNumber="@(Model.PageIndex + 1)"
    class="btn btn-default @nextDisabled">
        Next
</a>