@model FanCentral2.Models.ViewModels.BrowseProductCategories

@{
    ViewData["Title"] = "Browse Categories";
}
<h4> Jacksonville Jaguars / Jacksonville jaguars Men's Wear </h4>
<div class="your-selection">
	<h3>Your Selections</h3>
	<hr class="hr-yourSelection" />
	<h3> All Departments</h3>
	@foreach (var item in Model.Categories)
	{
		string selected = "";
		if (item.CategoryID == (int?)ViewData["CategoryID"])
        {
            selected = "success";
        }
		<div class="@selected">
			<a asp-action="Index" asp-route-id="@item.CategoryID">@Html.DisplayFor(modelItem => item.CategoryName)</a><br />
		</div>
	}
	
	<hr class="hr-yourSelection" />	
	<h3> Price Range </h3>
	<input type="radio" name="price" value="$10 to $20"> $10 to $20<br />
	<input type="radio" name="price" value="$20 to $40"> $20 to $40<br />
	<input type="radio" name="price" value="$40 to $60"> $40 to $60<br />
	<hr class="hr-yourSelection" />
</div>
<div class="main-box">
@if (Model.Products != null)
{
	@foreach (var item in Model.Products)
	{
		string selected = "";
            if (item.ProductID == (int?)ViewData["ProductID"])
            {
                selected = "success";
            }
		<div class="WTF-box @selected">
			<img src="~/Images/Products/@item.ImageName" alt="Product Picture" class="WTF-image">
			<p style="text-align:center; font-size:12px;"> 
				<b>@item.Price |</b> 
				@item.Description 
			</p>
		</div>
	}
}
</div>