@model FanCentral2.Models.ViewModels.CategoriesIndexViewModel

@{
    ViewData["Title"] = "Browse Categories";
}

@if (Model.Categories != null)
{
	<h4> Jacksonville Jaguars / 
	@foreach (var item in Model.Categories)
	{
            if (item.CategoryID == (int?)ViewData["CategoryID"])
            {
				<b style="color: #008080;">@item.CategoryName</b>
            }
	}
	</h4>
}
<div class="your-selection">
	<h3>Featured Categories</h3>
	<hr class="hr-yourSelection" />
	@foreach (var item in Model.Categories)
	{
		@if (item.CategoryCategory == "Featured")
		{
			@if (item.CategoryID == (int?)ViewData["CategoryID"])
			{
			<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<h3 class="category-spacing">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
				</a>
			</div>
			}
			else
			{
				<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<p class="category-spacing" style="color: dark-gray;">@Html.DisplayFor(modelItem => item.CategoryName)</p>
				</a>
			</div>
			}
		}
	}
	<h3>All Departments</h3>
	<hr class="hr-yourSelection" />
	@foreach (var item in Model.Categories)
	{
		@if (item.CategoryCategory == "Departments")
		{
			@if (item.CategoryID == (int?)ViewData["CategoryID"])
			{
			<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<h3 class="category-spacing">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
				</a>
			</div>
			}
			else
			{
				<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<p class="category-spacing" style="color: dark-gray;">@Html.DisplayFor(modelItem => item.CategoryName)</p>
				</a>
			</div>
			}
		}
	}
	<h3>Everything</h3>
	<hr class="hr-yourSelection" />
	@foreach (var item in Model.Categories)
	{
		@if (item.CategoryCategory == "All")
		{
			@if (item.CategoryID == (int?)ViewData["CategoryID"])
			{
			<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<h3 class="category-spacing">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
				</a>
			</div>
			}
			else
			{
				<div class="category-height">
				<a class="category-links" asp-action="Index" asp-route-id="@item.CategoryID">
					<p class="category-spacing" style="color: dark-gray;">@Html.DisplayFor(modelItem => item.CategoryName)</p>
				</a>
			</div>
			}
		}
	}

	@if((int?)ViewData["WhichSort"] == 1)
	{
		<h3>Price: High to Low</h3>
		<hr class="hr-yourSelection" />
		<a class="category-links" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
			<p class="category-spacing" style="color: dark-gray;">Filter: Low to High</p>
		</a>
	}
	else
	{
		<h3>Price: Low to High</h3>
		<hr class="hr-yourSelection" />
		<a class="category-links" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
			<p class="category-spacing" style="color: dark-gray;">Filter: High to Low</p>
		</a>
	}

</div>
<div class="main-box">
@if (Model.Products != null)
{
	@foreach (var item in Model.Products)
	{
		<div class="WTF-box">
			<a asp-controller="Product" asp-action="Index" asp-route-id="@item.ProductID">
				<img src="~/Images/Products/@item.ImageName" alt="Product Picture" class="WTF-image">
			</a>
			<p style="text-align:center; font-size:14px;"> 
				<b>@item.Price.ToString("c") |</b> 
				@item.Description 
			</p>
		</div>
	}
}
</div>